---
// TYPES
import type { IProject } from '@/interfaces'

// PROPS
interface Props {
  project: IProject
}
const { project } = Astro.props

// COMPONENTS
import { ImageHandler, Link } from '@/components'

// VENDOR
import { micromark } from 'micromark'
---

<Link
  link={{
    url: `/case-study/${project.seo.url}/`,
  }}
>
  <article
    class="p-2 rounded-lg text-white"
    style={{
      backgroundColor: project.client.brandColor,
    }}
  >
    <div class="grid md:grid-cols-2">
      <div class="max-md:mb-2">
        {
          project.thumbnail && (
            <ImageHandler
              cssClass="max-md:w-full max-md:max-h-[300px] rounded"
              img={project.thumbnail}
              nonStandardRatio
              fullWidth
            />
          )
        }
      </div>
      <div
        class:list={['py-2 sm:py-3 md:py-4 lg:py-5', 'px-2 md:px-4 lg:px-5']}
      >
        <h3 class="h3 lh-h3-vtrim pb-2">
          {project.title}
        </h3>
        <div set:html={micromark(project.subtitle)} />
      </div>
    </div>
  </article>
</Link>
