---
// TYPES
import type { IProject } from '@/interfaces'

// METHODS
import fetchApi from '@/lib/strapi'

// PROPS & DYNAMIC ROUTING
export async function getStaticPaths() {
  const projects = await fetchApi<IProject[]>({
    endpoint: 'projects',
    query: { populate: 'deep' },
    wrappedByKey: 'data',
  })

  if (!projects) return { paths: [], fallback: true }

  return projects.map((project) => ({
    params: { projectUrl: project.url },
    props: { project },
  }))
}

const { projectUrl } = Astro.params
const { project } = Astro.props

// COMPONENTS
import { BaseLayout } from '@/layouts'
---

<BaseLayout
  title={project.seo.metaTitle || project.title}
  pageClass="pg-project"
>
  <main>
    <h1>{project.title}</h1>
  </main>
</BaseLayout>
