---
// TYPES
import type { IService } from '@/interfaces'

// PROPS
interface Props {
  service: IService
}
const { service } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<article class="text-center">
  <ImageHandler cssClass="mb-2 inline-block" img={service.thumbnail} inline />
  <h3 class="pb-2 h4 lh-h4-vtrim font-semibold">
    {service.title}
  </h3>
  <div
    class="max-w-[27em] mx-auto mb-3 prose lh-prose body-1"
    set:html={markdownToHTML(service.subtitle)}
  />
  <Button
    theme="primary"
    href="mailto:hi@eokic.com"
    label={service.callToAction}
  />
</article>
