---
// TYPES
import type { IService } from '@/interfaces'

// PROPS
interface Props {
  service: IService
}
const { service } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<article class="text-center">
  <ImageHandler cssClass="inline-block" img={service.thumbnail} inline />
  <h3 class="h3">
    {service.title}
  </h3>
  <div class="prose lh-prose" set:html={markdownToHTML(service.subtitle)} />
  <Button
    theme="primary"
    href="mailto:hi@eokic.com"
    label={service.callToAction}
  />
</article>
