---
// TYPES
import type { IService } from '@/interfaces'

// PROPS
interface Props {
  service: IService
}
const { service } = Astro.props

// COMPONENTS
import { ImageHandler } from '@/components'

// VENDOR
import { micromark } from 'micromark'
---

<article class="text-center">
  <ImageHandler cssClass="inline-block" img={service.thumbnail} fullWidth />
  <h3 class="h3">
    {service.title}
  </h3>
  <div class="prose lh-prose-vtrim" set:html={micromark(service.subtitle)} />
</article>
