@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 39 34 55;
    --color-secondary: 214 69 38;
    --color-tertiary: 61 87 84;
  }
}

html {
  @apply text-base text-slate-700;
  background: white;
}



/* --------------------------------------------------------------------------
  RESPONSIVE TYPOGRAPHY
-------------------------------------------------------------------------- */

// Line heights with vertical trim
.lh1 { line-height: 1 !important; }
  .lh1\+vtrim { @apply lh1; margin-top: -0.145em !important; margin-bottom: -0.18em !important; }
.lh1\.2 { line-height: 1.2 !important; }
  .lh1\.2\+vtrim { @apply lh1.2; margin-top: -0.235em !important; margin-bottom: -0.235em !important; }
.lh1\.35 { line-height: 1.35 !important; }
  .lh1\.35\+vtrim { @apply lh1.35; margin-top: -0.305em !important; margin-bottom: -0.31em !important; }
.lh1\.5 { line-height: 1.5 !important; }
  .lh1\.5\+vtrim { @apply lh1.5; margin-top: -0.4em !important; margin-bottom: -0.42em !important; }
.lh1\.75 { line-height: 1.75 !important; }
  .lh1\.75\+vtrim { @apply lh1.75; margin-top: -0.51em !important; margin-bottom: -0.51em !important; }

// Headings
.h1 { @apply text-h1 sm:text-h1-sm md:text-h1-md lg:text-h1-lg xl:text-h1-xl 2xl:text-h1-2xl; }
.h2 { @apply text-h2 sm:text-h2-sm md:text-h2-md lg:text-h2-lg xl:text-h2-xl 2xl:text-h2-2xl; }
.h3 { @apply text-h3 sm:text-h3-sm md:text-h3-md lg:text-h3-lg xl:text-h3-xl 2xl:text-h3-2xl; }
.h4 { @apply text-h4 sm:text-h4-sm md:text-h4-md lg:text-h4-lg xl:text-h4-xl 2xl:text-h4-2xl; }

// Body
.body-1 { @apply text-body-1 sm:text-body-1-sm md:text-body-1-md lg:text-body-1-lg xl:text-body-1-xl 2xl:text-body-1-2xl; }
.body { @apply text-body sm:text-body-sm md:text-body-md lg:text-body-lg xl:text-body-xl 2xl:text-body-2xl; }
.body\+1 { @apply text-body+1 sm:text-body+1-sm md:text-body+1-md lg:text-body+1-lg xl:text-body+1-xl 2xl:text-body+1-2xl; }

// Lead = larger body
.lead {
  @apply text-lead sm:text-lead-sm md:text-lead-md lg:text-lead-lg xl:text-lead-xl 2xl:text-lead-2xl;
}



/* --------------------------------------------------------------------------
  RESPONSIVE SPACINGS
-------------------------------------------------------------------------- */

// Screen edge
.mxr-edge { @apply mx-edge sm:mx-edge-sm md:mx-edge-md lg:mx-edge-lg xl:mx-edge-xl 2xl:mx-edge-2xl; }
.mlr-edge { @apply ml-edge sm:ml-edge-sm md:ml-edge-md lg:ml-edge-lg xl:ml-edge-xl 2xl:ml-edge-2xl; }
.mrr-edge { @apply mr-edge sm:mr-edge-sm md:mr-edge-md lg:mr-edge-lg xl:mr-edge-xl 2xl:mr-edge-2xl; }

// Section
.myr-section { @apply my-section sm:my-section-sm md:my-section-md lg:my-section-lg xl:my-section-xl 2xl:my-section-2xl; }
.mtr-section { @apply mt-section sm:mt-section-sm md:mt-section-md lg:mt-section-lg xl:mt-section-xl 2xl:mt-section-2xl; }
.mbr-section { @apply mb-section sm:mb-section-sm md:mb-section-md lg:mb-section-lg xl:mb-section-xl 2xl:mb-section-2xl; }
.pyr-section { @apply py-section sm:py-section-sm md:py-section-md lg:py-section-lg xl:py-section-xl 2xl:py-section-2xl; }
.ptr-section { @apply pt-section sm:pt-section-sm md:pt-section-md lg:pt-section-lg xl:pt-section-xl 2xl:pt-section-2xl; }
.pbr-section { @apply pb-section sm:pb-section-sm md:pb-section-md lg:pb-section-lg xl:pb-section-xl 2xl:pb-section-2xl; }



/* --------------------------------------------------------------------------
  ACCESSIBILITY CORE
-------------------------------------------------------------------------- */
.a11y-link-skip {
  @apply sr-only focus:not-sr-only;
}



/* --------------------------------------------------------------------------
  LAYOUT
-------------------------------------------------------------------------- */
.section {
  @apply pyr-section;

  &.-alt {
    background: #F8F9FC;
  }


  &-head {
    @apply text-center;
  }

    &-title {
      @apply h2 lh1+vtrim font-extrabold uppercase;
    }

    &-subtitle {
      @apply h4 lh1.2+vtrim font-normal italic;
    }

  &-body {
    //
  }
}

