@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 39 34 55;
    --color-secondary: 214 69 38;
    --color-tertiary: 61 87 84;
  }
}

html {
  @apply text-base text-slate-700;
  background: white;
}

body {
  --swup-fade-theme-duration: .25s;
}


/* --------------------------------------------------------------------------
  TYPOGRAPHY
-------------------------------------------------------------------------- */
.h1 {
  @apply text-h1 sm:text-h1-sm md:text-h1-md lg:text-h1-lg xl:text-h1-xl;
}
