@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* BASE */
@import './base/__tw-config.pcss';
@import './base/_config.pcss';
@import './base/base.pcss';

/* TYPOGRAPHY */
@import './type/prose.pcss';
@import './type/lightning-list.pcss';

/* VFX */
@import './vfx/circle.pcss';
@import './vfx/unsorted.pcss';
