@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 39 34% 55%;
  --color-secondary: 214 69% 38%;
  --color-tertiary: 61 87% 84%;
  --color-focus-sr: 0 100% 50%;
  --hover-outline-width: 2px;
}

html {
  @apply text-base text-slate-700;
  background: white;
  /* scroll-behavior: smooth; */
}
