---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
const { globals, home } = Astro.props
interface Props {
  globals: IGlobal
  home: IHome
}

// METHODS
import { getAspectRatio } from '@/utils'

// COMPONENTS
import { ImageHandler } from '@/components'
import { Image } from 'astro:assets'
---

<div class="hero-photo">
  <ImageHandler
    cssClass="hero-photo-img"
    img={home.heroMedia}
    fullWidth
    important
  />
  <span class="photo-label photo-label-me">
    {home?.photoLabelMe}
  </span>
  <span class="photo-label photo-label-waifu">
    {home?.photoLabelWaifu}
  </span>
</div>

<style is:global>
  .photo {
    @apply relative;

    &-img {
      @apply border-8 border-solid border-black;
      @apply bg-gray-800;
      @apply rotate-2;
    }

    &-label {
      @apply absolute;
      @apply font-display;

      &-me {
        @apply top-2 right-[100%];
      }

      &-waifu {
        @apply top-3 left-[100%];
        @apply text-right;
      }
    }
  }
</style>
