---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
const { globals, home } = Astro.props
interface Props {
  globals: IGlobal
  home: IHome
}

// COMPONENTS
import { ImageHandler } from '@/components'
---

<div
  class:list={[
    'max-sm:translate-x-[90px] md:max-lg:translate-x-[140px]',
    'max-md:min-w-[280px] max-md:w-[280px] md:max-lg:min-w-[360px] md:max-lg:w-[360px] lg:max-w-[400px] xl:max-w-[400px] 2xl:max-w-[420px]',
    'rotate-[1.35deg]',
  ]}
>
  <div class="hero-photo relative will-change-transform">
    <ImageHandler
      imgClass="border-8 border-solid border-black"
      img={home.heroMedia}
      fullWidth
      important
    />
    <span class="absolute top-3 right-[100%] font-display">
      {home?.photoLabelMe}
    </span>
    <span
      class:list={[
        'hidden md:block absolute top-4 left-[100%]',
        'font-display md:text-right',
      ]}
    >
      {home?.photoLabelWaifu}
    </span>
  </div>
</div>
