---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
const { globals, home } = Astro.props
interface Props {
  globals: IGlobal
  home: IHome
}

// COMPONENTS
import { ImageHandler } from '@/components'
---

<div
  class:list={[
    'max-sm:translate-x-[90px] md:max-lg:translate-x-[140px]',
    'max-md:min-w-[280px] max-md:w-[280px] md:max-lg:min-w-[360px] md:max-lg:w-[360px] lg:max-w-[400px] xl:max-w-[400px] 2xl:max-w-[420px]',
    'rotate-[1.35deg]',
  ]}
>
  <div class="hero-photo relative will-change-transform">
    <ImageHandler
      imgClass="border-8 border-solid border-black"
      img={home.heroMedia}
      fullWidth
      important
    />
    <span
      class:list={[
        'absolute z-2 top-8 md:top-9 right-[98%] lg:right-full w-9 [@media(min-width:345px)]:w-10',
        'font-display text-secondary-dark',
      ]}
    >
      <img
        src="/layout/arrow-straight.svg"
        class="absolute top-4 left-3/4 w-[72px] sm:w-[82px] lg:w-[87px] max-w-none"
        alt="Arrow pointing at my head"
      />
      {home?.photoLabelMe}
    </span>
    <span
      class:list={[
        'hidden md:block absolute z-2 top-4 left-full',
        'font-display md:text-right',
      ]}
    >
      {home?.photoLabelWaifu}
    </span>
  </div>
</div>
