---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
const { globals, home } = Astro.props
interface Props {
  globals: IGlobal
  home: IHome
}

// COMPONENTS
import { ImageHandler } from '@/components'
---

<div class="hero-photo relative">
  <ImageHandler
    imgClass="border-8 border-solid border-black"
    img={home.heroMedia}
    fullWidth
    important
  />
  <span class="absolute top-2 right-[100%] font-display">
    {home?.photoLabelMe}
  </span>
  <span
    class:list={[
      'hidden md:block absolute top-3 left-[100%]',
      'font-display md:text-right',
    ]}
  >
    {home?.photoLabelWaifu}
  </span>
</div>

<style is:global>
  .hero-photo {
    @apply max-sm:translate-x-[140px] min-w-[380px] w-[380px];
    @apply md:max-lg:translate-x-[140px];
    @apply rotate-[1.35deg];
  }
</style>
