---
// TYPES
import type { IClient } from '@/interfaces'

// METHODS
import fetchApi from '@/lib/strapi'

// COMPONENTS
import { ImageHandler } from '@/components'
import { Image } from 'astro:assets'

// LOCAL STATE
const clients = await fetchApi<IClient[]>({
  endpoint: 'clients',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})
---

<footer>
  <div class="flex items-center flex-wrap mtr-section">
    {
      clients
        ?.filter((client) => client.logo?.colorOnLight?.url)
        ?.map((client) => (
          <ImageHandler
            img={client.logo.colorOnLight}
            alt={client.title}
            nonStandardRatio
            inline
          />
        ))
    }
  </div>
</footer>
