---
// TYPES
import type { IClient } from '@/interfaces'

// METHODS
import fetchApi from '@/lib/strapi'

const clients = await fetchApi<IClient[]>({
  endpoint: 'clients',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})
---

<footer>
  <div class="flex mtr-section">
    {
      clients?.map((client) => (
        <img src={client.logo?.colorOnLight?.url} alt={client.title} />
      ))
    }
  </div>
</footer>
