---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<div class="relative inline-block mb-outer">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="-body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <div class="hidden sm:block absolute -top-5 left-full ml-4">
    <ImageHandler cssClass="w-[clamp(75px,9vw,102px)]" img={home.badge} />
  </div>
</div>

<div
  id="hero-desc"
  class:list={[
    'hero-desc text-start',
    'xs:max-md:absolute xs:max-md:bottom-0 max-md:-ml-edge max-xs:-mr-edge xs:max-sm:-mr-4',
    'max-md:-mb-2 max-md:p-4 max-md:pl-edge max-md:pb-5',
    'max-md:bg-primary-bg max-md:backdrop-blur-md',
  ]}
>
  <div
    class="mb-2 sm:mb-4 md:mb-outer prose md:lead lh-prose"
    set:html={markdownToHTML(home.description)}
  />
  <div class="flex flex-wrap sm:gap-2">
    <Button theme="primary" href="mailto:hi@eokic.com" label="Let's talk!" />
    <Button href="#services" label="Services" />
    <Button href="#work" label="Work" />
    <div class="hidden sm:inline-block">
      <Button href="#about" label="About" />
    </div>
  </div>
</div>

<style is:global>
  .hero-desc {
    ul {
      padding-left: 1em;

      li::marker {
        @apply h3;
        content: '⚡️';
      }
    }
  }
</style>
