---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<div class="relative inline-block mb-outer">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="-body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <div class="hidden sm:block absolute -top-5 lg:-top-6 left-full ml-4 xl:ml-5">
    <ImageHandler cssClass="w-[clamp(75px,9vw,102px)]" img={home.badge} />
  </div>
</div>

<div
  id="hero-desc"
  class:list={[
    'text-start will-change-transform',
    'xs:max-md:absolute xs:max-md:bottom-0 max-md:-ml-edge max-xs:-mr-edge xs:max-sm:-mr-4',
    'max-md:-mb-2 max-md:p-4 max-md:pl-edge max-md:pb-5',
    'max-md:bg-primary-bg max-md:rounded-tr-lg max-md:rounded-br-lg max-md:backdrop-blur-md',
  ]}
>
  <div
    class="hero-body mb-2 sm:mb-4 md:mb-outer prose md:lead lh-prose"
    set:html={markdownToHTML(home.description)}
  />
  <ul class="flex flex-wrap sm:gap-2" aria-hidden="true">
    <li>
      <Button
        theme="primary"
        href="mailto:hi@eokic.com"
        label="Let's talk!"
        presentational
      />
    </li>
    <li>
      <Button href="#services" label="Services" presentational />
    </li>
    <li>
      <Button href="#work" label="Work" presentational />
    </li>
    <li class="hidden sm:inline-block">
      <Button href="#about" label="About" presentational />
    </li>
  </ul>
</div>

<style is:global>
  .hero-body {
    ul {
      padding-left: 1em;

      li::marker {
        @apply h3;
        content: '⚡️';
        /* TODO: Safari does not support the ::marker pseudo */
      }
    }
  }
</style>
