---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<div class="relative inline-block mb-outer">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="-body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <div class="absolute -top-4 left-full ml-3">
    <ImageHandler cssClass="w-[clamp(75px,9vw,102px)]" img={home.badge} />
  </div>
</div>

<div
  class:list={[
    'hero-desc',
    'max-md:absolute max-md:bottom-0 max-md:-ml-edge max-md:-mb-1 max-md:p-3 max-md:pl-edge max-md:pb-4',
    'max-md:bg-primary-bg max-md:backdrop-blur-md',
  ]}
>
  <div
    class="mb-outer prose lead lh-prose"
    set:html={markdownToHTML(home.description)}
  />
  <div class="flex flex-wrap sm:gap-1">
    <Button theme="primary" href="mailto:hi@eokic.com" label="Let's talk!" />
    <Button href="#services" label="Services" />
    <Button href="#work" label="Work" />
    <div class="hidden sm:inline-block">
      <Button href="#about" label="About" />
    </div>
  </div>
</div>

<style is:global>
  .hero-desc {
    ul {
      padding-left: 1em;

      li::marker {
        @apply h3;
        content: '⚡️';
      }
    }
  }
</style>
