---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'
interface Props {
  globals: IGlobal
  home: IHome
}

// COMPONENTS
// import { Img } from 'astro-imagetools/components'
import { Section } from '@/components/base'
import { Aside, Clients, Main } from './'

// PROPS
const { globals, home } = Astro.props
---

<Section id="hero">
  <div class="hero">
    <main class="hero-left">
      <Main {globals} {home} />
    </main>
    <aside class="hero-right">
      <Aside {globals} {home} />
    </aside>
  </div>
  <Clients slot="after-container" />
</Section>

<style is:global>
  .hero {
    @apply grid grid-cols-5 gap-4;

    &-left {
      @apply col-span-12 md:col-span-3;
    }

    &-right {
      @apply col-span-12 md:col-span-2;
    }
  }
</style>
