---
// ----------------------------------------------------------------------------

// TYPES
import type { IGlobal, ITestimonial } from '@/interfaces'

// METHODS
import fetchApi from '@/utils/strapi'

// COMPONENTS
import { BaseLayout } from '@/layouts'
import { HomeHero } from '@/components'
import { Debug } from 'astro/components'

// STYLES
import '@/styles/home.css'

const globals = await fetchApi<IGlobal>({
  endpoint: 'global',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const testimonials = await fetchApi<ITestimonial[]>({
  endpoint: 'testimonials',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// ----------------------------------------------------------------------------
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <HomeHero {globals} />

    {
      testimonials.map((testimonial) => (
        <blockquote>
          <p>{testimonial.quote}</p>
          <footer>
            <a href="#">{testimonial.person}</a>
            <br />
            <small>{testimonial.position}</small>
          </footer>
        </blockquote>
      ))
    }

    <!-- <Card
      href="https://docs.astro.build/"
      title="Documentation"
      body="Learn how Astro works and explore the official API docs."
    /> -->
  </main>
</BaseLayout>

<style>
  /*  */
</style>@/utils/strapi
