---
// PROPS
interface Props {
  cssClass?: string | string[]
  theme?: 'header' | 'header-arrow' | 'primary' | 'neutral' | 'a11y' // defaults to neutral
  label?: string
  href?: string
  presentational?: boolean
}
const { cssClass, theme, label, href, presentational } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// HELPERS
const shouldSmoothScroll = href && href.startsWith('#')
---

<a
  class:list={[
    'btn py-3 px-2 xs:px-3 lg:px-4',
    'body lh-body font-sans text-white bg-primary',
    'rounded-[99px] cursor-pointer',
    `-${theme || 'neutral'}`,
    ...(typeof cssClass === 'string' ? [cssClass] : cssClass || []),
  ]}
  href={href}
  set:html={label ? markdownToHTML(label) : null}
  aria-hidden={presentational ? true : null}
  tabindex={presentational ? -1 : 0}
  data-smooth-scroll={shouldSmoothScroll}
>
  <slot />
</a>

<style is:global>
  .btn {
    display: inline-block;
    /* @apply hover:shadow-sm hover:shadow-slate-700/40; */
    /* @apply focus:opacity-[0.85] focus:shadow-none; */
    /* @apply active:opacity-[0.85] active:shadow-none; */
    /* @apply disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none; */
    outline: var(--hover-outline-width) solid transparent;
    outline-offset: 0.2em;

    &.-header,
    &.-header-arrow {
      @apply text-primary-dark bg-transparent;

      /* Hover */
      &:not(:active):hover {
        outline-color: var(--color-primary);
      }
    }

    &.-header-arrow {
      @apply text-primary-light font-medium;
    }

    &.-neutral {
      @apply text-primary bg-transparent;

      /* Hover */
      &:not(:active):hover {
        outline-color: var(--color-primary);
      }
    }

    &.-primary {
      @apply px-4 md:px-5;
      @apply font-semibold bg-primary;

      /* Hover */
      &:not(:active):hover {
        outline-color: var(--color-primary);
      }
    }

    &.-a11y {
      @apply sr-only focus:not-sr-only;
      @apply py-2 px-3 !important;
      @apply h4 lh-h4 font-semibold text-white bg-slate-900;
      @apply rounded-sm;
      outline: 1rem solid hsl(var(--color-focus-sr));

      &::focus {
        @apply inline-block;
      }
    }

    /* Focus */
    &:not(:active):focus-visible {
      outline: 0.5em solid hsl(var(--color-focus-sr));
    }

    /* Pressed */
    &:active {
      outline-width: 1px;
      outline-offset: 0.1em;
    }
  }
</style>
