---
// TYPES
import type { IGlobal } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
}
const { globals } = Astro.props

// COMPONENTS
import { Button, ImageHandler, Link } from '.'

// HELPERS
const isHomePage = /^\/(#.*)?$/.test(Astro.url.pathname)
---

<header
  id="header"
  class:list={[
    'fixed z-40 top-1 xl:top-2 2xl:top-3 left-0 right-0 flex justify-center',
    '-translate-y-[120%] will-change-transform pointer-events-none',
  ]}
>
  <div
    class:list={[
      'header-inner inline-flex justify-between items-center p-2',
      'text-white bg-light-bg',
      'rounded-full backdrop-blur-lg pointer-events-auto',
    ]}
    transition:name="header"
    transition:persist
  >
    <!-- Mobile: back-to-top -->
    <Button
      cssClass="block md:!hidden border-r border-primary-xlight rounded-r-none"
      theme="header-arrow"
      href="#top"
      label="↑"
    />

    <!-- Logo -->
    <div class="hidden md:inline-block ml-3 mr-2 leading-none">
      <Link
        link={{
          url: isHomePage ? '#top' : '/',
        }}
      >
        <ImageHandler
          cssClass="inline-block"
          imgClass="h-[36px]"
          img={globals.logo.colorOnLight}
          nonStandardRatio
          fullWidth
          inline
        />
      </Link>
    </div>

    <!-- Navigation -->
    <nav aria-label="Main navigation">
      <ul class="flex">
        <li>
          <Button
            theme="header"
            href={isHomePage ? '#services' : '/#services'}
            label="Services"
          />
        </li>
        <li>
          <Button
            theme="header"
            href={isHomePage ? '#work' : '/#work'}
            label="Work"
          />
        </li>
        <li>
          <div class="hidden sm:block h-full">
            <Button
              theme="header"
              href={isHomePage ? '#about' : '/#about'}
              label="About"
            />
          </div>
        </li>
        <li>
          <Button
            theme="primary"
            href={`mailto:${import.meta.env.MAILTO_ADDRESS}`}
            label="Let's talk!"
            fullHeight
          />
        </li>
      </ul>
    </nav>
  </div>
</header>

<style is:global>
  #header {
    .header-inner {
      @apply drop-shadow-none;
    }

    @media not (prefers-reduced-motion) {
      @apply transition-all duration-700;
    }
  }

  /* Homepage without JS & non-homepages */
  .pg-home.no-js #header,
  body:not(.pg-home) #header {
    @apply translate-y-0 !important;

    .header-inner {
      @apply drop-shadow-xl lg:drop-shadow-2xl;
    }
  }

  /* Homepage with JS */
  .pg-home.js #header {
    &.show,
    &:focus-within {
      @apply translate-y-0;

      .header-inner {
        @apply drop-shadow-xl lg:drop-shadow-2xl;
      }
    }
  }
</style>
