---
// TYPES
import type { IGlobal } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
}
const { globals } = Astro.props

// COMPONENTS
import { Button, ImageHandler, Link } from '.'
---

<header
  id="header"
  class:list={[
    'fixed z-20 top-1 right-edge md:left-0 md:right-0 md:flex md:justify-center',
    'will-change-transform pointer-events-none',
  ]}
>
  <div
    class:list={[
      'header-inner inline-flex justify-between items-center  p-2',
      'rounded-full bg-primary-bg backdrop-blur-md pointer-events-auto',
    ]}
  >
    <!-- Logo -->
    <div class="hidden md:inline-block ml-3 mr-2 -mb-1">
      <Link
        link={{
          url: /^\/(#.*)?$/.test(Astro.url.pathname) ? '#main-content' : '/',
        }}
      >
        <ImageHandler
          cssClass="inline-block"
          imgClass="h-[36px]"
          img={globals.logo.colorOnLight}
          fullWidth
          inline
        />
      </Link>
    </div>

    <!-- Navigation -->
    <nav aria-label="Main navigation">
      <ul class="flex">
        <li><Button href="#services" label="Services" /></li>
        <li><Button href="#work" label="Work" /></li>
        <li>
          <div class="hidden sm:inline-block">
            <Button href="#about" label="About" />
          </div>
        </li>
        <li>
          <Button
            theme="primary"
            href="mailto:hi@eokic.com"
            label="Let's talk!"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>

<style is:global>
  body.js #header {
    @apply -translate-y-[120%];

    &.show,
    &:focus-within {
      @apply translate-y-0;

      .header-inner {
        @apply drop-shadow-xl;
      }
    }
  }
</style>
