---
// PROPS
interface Props {
  id?: string
  title?: string
  subtitle?: string
  cssClass?: string[]
  alt?: boolean
}
const { id, title, subtitle, cssClass, alt } = Astro.props
---

<section
  class:list={['section py-section', { '-alt': alt }, ...(cssClass || [])]}
  id={id}
>
  <slot name="before-container" />
  <div class="container">
    {
      (title || subtitle) && (
        <header class="section-head">
          {title && <h2 class="section-title">{title}</h2>}
          {subtitle && <h3 class="section-subtitle">{subtitle}</h3>}
        </header>
      )
    }
    <div class="section-body">
      <slot />
    </div>
  </div>
  <slot name="after-container" />
</section>

<style is:global>
  .section {
    &.-alt {
      @apply relative;
      background: #f4f6fb;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 25px;

        background-image: /* @/assets/layout/section-curve.svg */ url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI1IiBmaWxsPSJub25lIj48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGw9IiNGNEY2RkIiIGQ9Ik0wIDBzMzI5LjEgMjMgNzIxIDIzIDcxOS0yMyA3MTktMjN2MjVIMFYwWiIvPjxwYXRoIGZpbGw9InVybCgjYikiIGZpbGwtb3BhY2l0eT0iLjciIGQ9Ik0wIDBzMzI5LjEgMjMgNzIxIDIzIDcxOS0yMyA3MTktMjN2MjVIMFYwWiIvPjwvZz48ZGVmcz48cmFkaWFsR3JhZGllbnQgaWQ9ImIiIGN4PSIwIiBjeT0iMCIgcj0iMSIgZ3JhZGllbnRUcmFuc2Zvcm09InNjYWxlKDY5OS43NiAzMTkuMjcpIHJvdGF0ZSgtOTAgMSAwKSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIHN0b3AtY29sb3I9IiNmZmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPjwvcmFkaWFsR3JhZGllbnQ+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE0NDB2MjVIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=');
        background-position-x: center;
      }

      &::before {
        top: -25px;
      }

      &::after {
        bottom: -25px;
        transform: rotate(180deg);
      }
    }

    &-head {
      @apply text-center;
    }

    &-title {
      @apply h1;
      @apply pb-1;
      @apply h2 lh-h2-vtrim font-extrabold uppercase text-slate-900;
    }

    &-subtitle {
      @apply h4 lh-h4-vtrim font-normal italic text-slate-600;
    }

    &-body {
      @apply mt-inner;
    }
  }
</style>
