---
// PROPS
interface Props {
  id?: string
  title?: string
  subtitle?: string
  cssClass?: string | string[]
  alt?: boolean
}
const { id, title, subtitle, cssClass, alt } = Astro.props
---

<section
  class:list={[
    'section py-section',
    { '-alt': alt },
    ...(typeof cssClass === 'string' ? [cssClass] : cssClass || []),
  ]}
  id={id}
>
  <slot name="before-container" />
  <div class="container">
    {
      (title || subtitle) && (
        <header class="section-head">
          {title && <h2 class="section-title">{title}</h2>}
          {subtitle && <p class="section-subtitle">{subtitle}</p>}
        </header>
      )
    }
    <div class="section-body">
      <slot />
    </div>
  </div>
  <slot name="after-container" />
</section>

<style is:global>
  .section {
    &.-alt {
      @apply relative;
      background: #f4f6fb;

      &::before,
      &::after {
        @apply absolute left-0 w-full h-[25px] bg-center;
        @apply lg:bg-[length:100%_100%];
        background-image: /* @/assets/layout/section-curve.svg */ url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI1IiBmaWxsPSJub25lIj48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGw9IiNGNEY2RkIiIGQ9Ik0wIDBzMzI5LjEgMjMgNzIxIDIzIDcxOS0yMyA3MTktMjN2MjVIMFYwWiIvPjxwYXRoIGZpbGw9InVybCgjYikiIGZpbGwtb3BhY2l0eT0iLjciIGQ9Ik0wIDBzMzI5LjEgMjMgNzIxIDIzIDcxOS0yMyA3MTktMjN2MjVIMFYwWiIvPjwvZz48ZGVmcz48cmFkaWFsR3JhZGllbnQgaWQ9ImIiIGN4PSIwIiBjeT0iMCIgcj0iMSIgZ3JhZGllbnRUcmFuc2Zvcm09InNjYWxlKDY5OS43NiAzMTkuMjcpIHJvdGF0ZSgtOTAgMSAwKSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIHN0b3AtY29sb3I9IiNmZmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPjwvcmFkaWFsR3JhZGllbnQ+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE0NDB2MjVIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=');
        content: '';
      }

      &::before {
        @apply top-[-25px];
      }

      &::after {
        @apply bottom-[-25px] rotate-180;
      }
    }

    &-head {
      @apply text-center;
    }

    &-title {
      @apply h1;
      @apply pb-2;
      @apply h2 lh-h2-vtrim font-extrabold uppercase text-slate-900;
    }

    &-subtitle {
      @apply h4 lh-h4-vtrim font-normal italic text-slate-600;
    }

    &-body {
      @apply mt-inner;
    }
  }
</style>
