---
// PROPS
interface Props {
  id?: string
  title?: string
  subtitle?: string
  class?: string
  alt?: boolean
}
const { id, title, subtitle, class: cssClass, alt } = Astro.props
---

<section
  class:list={[
    'section py-section relative',
    { '-alt': alt },
    ...(typeof cssClass === 'string' ? [cssClass] : cssClass || []),
  ]}
  id={id}
>
  <slot name="before-container" />
  <div class="container">
    {
      (title || subtitle) && (
        <header class="section-head">
          {title && <h2 class="section-title">{title}</h2>}
          {subtitle && <p class="section-subtitle">{subtitle}</p>}
        </header>
      )
    }
    <div class="section-body">
      <slot />
    </div>
  </div>
  <slot name="after-container" />
</section>

<style is:global>
  .section {
    &.-alt {
      @apply relative bg-secondary-bg;

      &::before,
      &::after {
        @apply absolute left-0 w-full h-[25px] bg-center;
        background: inherit;
        mask: url('/layout/section-curve.svg');
        mask-size: 200% 25px;
        mask-position: center;
        content: '';

        @media screen and (min-width: 640px) {
          mask-size: 175% 25px;
        }

        @media screen and (min-width: 768px) {
          mask-size: 150% 25px;
        }

        @media screen and (min-width: 860px) {
          mask-size: 125% 25px;
        }

        @media screen and (min-width: 1024px) {
          mask-size: 100% 25px;
        }
      }

      &::before {
        @apply top-[-25px];
      }

      &::after {
        @apply bottom-[-25px] rotate-180;
      }
    }

    &-head {
      @apply text-center;
    }

    &-title {
      @apply h1;
      @apply pb-2;
      @apply h2 lh-h2-vtrim font-extrabold uppercase text-slate-900;
    }

    &-subtitle {
      @apply h4 lh-h4-vtrim font-normal italic text-slate-600;
    }

    &-body {
      @apply mt-inner;
    }
  }
</style>
