---
interface Props {
  id?: string
  title?: string
  subtitle?: string
  alt?: boolean
}

// PROPS
const { id, title, subtitle, alt } = Astro.props
---

<section class:list={['section', { '-alt': alt }]} id={id}>
  <slot name="before-container" />
  <div class="container mx-auto">
    {
      (title || subtitle) && (
        <header class="section-head">
          {title && <h2 class="section-title">{title}</h2>}
          {subtitle && <h3 class="section-subtitle">{subtitle}</h3>}
        </header>
      )
    }
    <div class="section-body">
      <slot />
    </div>
  </div>
  <slot name="after-container" />
</section>

<style is:global>
  .section {
    @apply pyr-section;

    &.-alt {
      @apply relative;
      background: #f8f9fc;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        background: url();
      }
    }

    &-head {
      @apply text-center;
    }

    &-title {
      @apply h1;
      @apply pb-4;
      @apply h2 lh-h2-vtrim font-extrabold uppercase text-slate-900;
    }

    &-subtitle {
      @apply h4 lh-h4-vtrim font-normal italic text-slate-600;
    }

    &-body {
      /*  */
    }
  }
</style>
