---
// ----------------------------------------------------------------------------

// TYPES
import type { IClient, IGlobal, IHome } from '@/interfaces'
interface Props {
  globals: IGlobal
}

// METHODS
import fetchApi from '@/lib/strapi'

// COMPONENTS
// import { Card } from '@/components'
import { Debug } from 'astro/components'

// STYLES
// import '@/styles/home.css'

// PROPS
const { globals } = Astro.props

const home = await fetchApi<IHome>({
  endpoint: 'home',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const clients = await fetchApi<IClient[]>({
  endpoint: 'clients',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// ----------------------------------------------------------------------------
---

<div>
  <!-- <Debug {globals} /> -->

  <div class=""></div>

  <h2></h2>
</div>

<style>
  /*  */
</style>
