---
// ----------------------------------------------------------------------------

// TYPES
import type { IGlobal } from '@/interfaces'
interface Props {
  title: string
}

// PROPS
const { title } = Astro.props

// METHODS
import fetchApi from '@/lib/strapi'
import { googleFonts } from '@/utils'

// COMPONENTS
import { ViewTransitions } from 'astro:transitions'

// DATA
const globals = await fetchApi<IGlobal>({
  endpoint: 'global',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// STYLES
import '@/styles/base.scss'

// ----------------------------------------------------------------------------
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | {globals.siteName}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href={googleFonts({
        family: ['Kalam'],
        weight: ['400', '700'],
      })}
    />
    <ViewTransitions />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <!-- Accessibilty links -->
    <a class="a11y-link-skip" href="#menu">Skip to navigation</a>
    <a class="a11y-link-skip" href="#main">Skip to content</a>

    <!-- Body -->
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
</style>