---
// ----------------------------------------------------------------------------

// TYPES
// import type { IGlobal, ITestimonial } from '@/interfaces'

// METHODS
// import fetchApi from '@/lib/strapi'

// COMPONENTS
import { BaseLayout } from '@/layouts'

// ----------------------------------------------------------------------------
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <div>LOL UNHCR</div>
  </main>
</BaseLayout>

<style>
  /*  */
</style>
